body {
    font-family: Nunito;
    line-height: 1.5;
    margin: 0;
    background-color: #fff;
}

.content{
    max-width: 1270px;
    margin: auto;
}

.content h1{
    color: #387EFF;
}

.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}

.button_1 {
    cursor: pointer;
    text-align: center;
    height: 38px;
    background: none;
    border-style: solid;
    border-color: #707070;
    border-radius: 20px;
    padding-left: 13px;
    padding-right: 13px;
    background-color:#387EFF;
    color: white;
}

.button_1:hover{
    background-color: #5c94ff;
}

.button_signIn {
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    color: #ffffff;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #387EFF;
    border-radius: 5px;
    border: 2px solid #fff;
}



.button_signIn:hover{
    transition-duration: 0.4s;
    color: #000000;
    border-radius: 5px;
    border: 2px solid #fff;
}

header {
    background: #fff;
    border-bottom: 1px solid #707070;
    color: white;
    padding-top: 15px;
    min-height: 60px;
}

header a {
    color: #387EFF;
    text-decoration: none;
    text-transform: uppercase;
    cursor:pointer;
}

header li {
    float: left;
    display: inline;

}

header #branding {
    float: left;
}

.liber2{
    display: none;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    font-weight: bold;
}
header a:hover {
    color: #cccccc;
}

#showcase {
    min-height: 400px;

    text-align: center;
    color: white;
}
#showcase h1 {
    margin-top: 100px;
    font-size: 55px;
    margin-bottom: 10px;
}
#showcase p {
    font-size: 20px;
}

#newsletter {
    padding: -5px;
    color: white;
    background: none;
    margin-right: 300px;
}
#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin-top: -5px;

}

#newsletter input[type="text"] {
    border-radius: 30px;
    border-style: solid;
    border-color: #707070;
    padding: 10px;
    height: 15px;
    width: 300px;
}

.knihovnikVelky{
    display: inline-flex;
}

.knihovnik2{
    display: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 10px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 30px;
    margin-top: -10px;
    margin-left: 20px;
    background-color: #fff;
}

.dropdown-content {
    display: none;
    border-radius: 15px;
    position: absolute;
    background-color: #ffffff;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    font-family: Arial;
    color: black;
    padding: 12px 17px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}

.warning{
    text-align: center;
    color: #878787;
}

#questions{
    color: #fff;
    background-color: #387EFF;
    border-radius: 15px;

}

#questions h1{
    color: #fff;
    font-family: "Helvetica Neue";
    text-transform: uppercase;
    font-size: 50px;
    padding: 1em;
}

#questions h2{
    text-align: center;
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 25px;
    padding: 1em;
    padding-bottom: 0.3em;
}

#questions button{
    color: #6C6C6C;
    background-color: #fff;
    text-transform: lowercase;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 7%;
    margin-left: 2.5em;
}

#questions a{
    text-decoration: none;
    color: #6C6C6C;
}












#message input[type="email"] {
    border-radius: 5px;
    border-color: #93DEAA;
    padding: 5px;
    height: 25px;
    width: 300px;
}


.message{
    border: 20px ;
    font-family: Nunito;
    color:#209D34;
    background-color:#E8FFEB ;
    padding: 280px;
    padding-bottom: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message h1{
    text-align: center;
    font-size: 40px;
}

.message button{
    padding: 12px 32px;
    margin-top: -5px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    color: #ffffff;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #209D34;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.message button a{
    color: white;
    text-decoration: none;
}

.message button:hover{
    color:#209D34;
    background-color: #fff;
}

#message{
    padding-left: 35%;
    padding-right: 25%;
}

footer {
    padding-top: 30px;
    min-height: 230px;
    color: #ffffff;
    background-color: #6C6C6C;
    text-align: center;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

footer li {
    display: inline;
    padding: 0px 20px 0px 20px;
}

footer ul{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.column1{
    display: flex;
    flex-direction: column;
}

.column2{
    display: flex;
    flex-direction: column;
}



footer #branding h1 {
    margin: 0;
}

footer nav {
    margin:auto;
    margin-top: 10px;
}

footer .highlight,
footer .current a {
    color: #e8491d;
    font-weight: bold;
}
footer a:hover {
    color: #cccccc;
}


@media only screen and (max-width: 1020px) {

    .button_signIn {
        padding: 8px 32px;
    }

    .knihovnikVelky{
        display: none;
    }

    .knihovnik2{
        display: inline-block;
    }

    header {
        color: #387EFF;
        padding-top: 15px;
    }

    .dropdown-content a {
        padding: 12px 19px;
    }

    .dropbtn {
        margin-left: 0px;
        margin-right: 20px;
    }

    header ul {
        display: flex;
    }

    header li{
        float: none;
    }

    #newsletter {
        margin-right: 0px;
    }


    header #branding {
        float: left;
        padding-left: 20px;
    }


    #newsletter input[type="text"] {
        border-radius: 30px;


        width: 150px;
    }


    .message {
        padding: 80px;
    }

}

@media only screen and (max-width: 460px) {
    header {

    }

    .liberVelky{
        display: none;
    }

    .liber2{
        display: block;
    }

    .trailerPrewiew {
        margin: 0px 0px 0px -120px;
        display: block;
    }

    .message {
        padding: 30px;
    }
}
